
  <div class="container">
      <div class="row">
            <div class="col-md-12">
       <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="container">  
        <div class="col-md-6 floatleft">

                <div class="form-group">
                      <label>Child 1 Name</label>
                      <input type="text" formControlName="child_name1" class="form-control" />
                
                  </div>

                 

                  <div class="form-group">
                      <label>Child 1 Age/Birthdate</label>
                      <input type="date" formControlName="child_birthdate1" class="form-control"/>
                    
                  </div>
                  <div class="form-group">
                      <label>Child 1 Relationship</label>
                      <input type="tel" formControlName="child_relationship1" class="form-control" />
                     
                  </div>
                   
                </div>

                <div class="col-md-6 floatleft">
                  <div class="form-group">
                    <label>Child 2 Name</label>
                    <input type="text" formControlName="child_name2" class="form-control" />
              
                </div>

               

                <div class="form-group">
                    <label>Child 2 Age/Birthdate</label>
                    <input type="date" formControlName="child_birthdate2" class="form-control"/>
                  
                </div>
                <div class="form-group">
                    <label>Child 2 Relationship</label>
                    <input type="tel" formControlName="child_relationship2" class="form-control" />
                   
                </div>
   

                

                  
                  
                     
                </div> 
            </div>
              </form>
             
   </div>
  </div>
</div>
